<%= stylesheet_link_tag "application" %>

<div style="margin-left: 25%; margin-right: 25%">
  <h1 style="text-align: center; font-size: 60px">Send an Email to <br> <%= @name %></h1>
  <div style="text-align: center; font-size: 20px">
    <p>Please fill out the information below as detailed as you are comfortable with.</p>
    <p>This information will be sent to me only.</p>
    <br/>
  </div>
</div>

<div style="margin-left :25%; margin-right: 25%">
  <%= form_tag :email_specific_ally, :method => :email_specific_ally do %>
  
  	<%= hidden_field_tag "ally_email", @email %>


    <%= label :victim, :name, 'Please enter your name below:' %>
    <%= text_field_tag "name", "Your name", :class => 'form-control' %>
	
    <br/>
    <br/>
	
    <%= label :victim, :email, 'Please enter your preferred email contact below:' %>
    <%= email_field_tag "email", "Your email address", :class => 'form-control' %>
	
    <br/>
    <br/>
	
    <%= label :victim, :message, 'If you would like to include any elaboration or other comments in this notification email, feel free to write it here:' %>
    <%= text_area_tag "message", "Your message to the allies", :class => 'form-control' %>
	
    <br/>
    <br/>
	
    <%= submit_tag "Send email", :class => "btn btn-primary btn-lg" %>
	
    <br/>
    <br/>
	
  <% end %>
  
</div>