<div id="login">
	<% if @current_user #logged in %>
		<p>You are logged in as: 
			<br>Name: <%= @current_user.name %>
			<br>First Name: <%= @current_user.first_name %>
			<br>Last Name: <%= @current_user.last_name %>
			<br>Login: <%= @current_user.ups_id %>
			<br>Email: <%= @current_user.email %>
			<br>Bio: <%= @current_user.bio %>
			<br>Session[:user_id]: <%= session[:user_id] %>
			<br>CurrUser.id: <%= @current_user.id %>
			<br>Testing: <%= session[:name] %>
			<br>Testing: <%= session[:email] %>
		<p>
		<%= link_to('Log Out', logout_path) %>
		</p>
	<% else %>
		<%= link_to('Log in with your UPS account','/auth/shibboleth') %>
		<%= form_tag(test_login_path) do %>
			<!-- <%= label_tag(:user_id, "Login as user #:") %> -->
<!-- 			<%= number_field_tag(:user_id, in: 1.0..10.0, step: 1.0) %>
  		<%= submit_tag("Submit") %>
		<% end %>
	<% end %> -->
</div>

