<body> 
  <div class = "container">
    <h1 style = "text-align: center; font-size: 50px">Your Peer Allies</h1><br>
    <div class="row">
      <% @peer_allies.each do |ally| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img>
          <%= image_tag(ally.avatar.url(:thumb)) %>
        </img>
          <div class="caption">
            <h3><%= ally.name %></h3>
            <p>
              Grade: <%= ally.grade %>
              <br>
              Bio: <%= ally.bio %>
            </p>
            <a<%= link_to('', peer_ally_path(ally), html_options = {:class => "btn btn-primary", :role => "button" }) %></a> 
            <%= link_to('View Profile', peer_ally_path(ally)) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <br>
    <div class="btn btn-primary" role="button"><%= link_to 'Add New Peer Ally', new_peer_ally_path, html_options = {:class => "btn btn-primary", :role => "button"} %></div> 
      <!-- <%= link_to('Log in with your UPS account','/auth/shibboleth') %> -->
</body>

<%= render :partial=>'login' %>

