<body> 
  <div class = "container">
    <h1 style = "text-align: center; font-size: 50px">Your Peer Allies</h1><br>
    <div class="row">
      <% @peer_allies.each do |ally| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img>
          <%= image_tag(ally.avatar.url(:thumb)) %>
        </img>
          <div class="caption">
            <h3><%= ally.name %></h3>
            <p>
              Grade: <%= ally.grade %>
              <br>
              Bio: <%= ally.bio %>
            </p>
            <a href="ally" class="btn btn-primary" role="button">View Profile</a> 
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <br>
<<<<<<< HEAD
    <div class="btn btn-primary" role="button"><%= link_to 'Add New Peer Ally', new_peer_ally_path %></div> 
=======
    <%= link_to 'Add new peer ally', new_peer_ally_path %>
    <%= render :partial=>'login' %>
>>>>>>> 01971cbde24c18f03e67d5cf7139db574f73c7ad
</body>


 
