  <div class = "container">
    <h1 style = "text-align: center; font-size: 60px; color: #660000">Your Peer Allies</h1>
    <br>
    <% if @current_user && @current_user.administrator %>
    <%= link_to 'Add New Peer Ally', new_peer_ally_path, html_options = {:class => "btn btn-primary"} %>
    <% end %>
    <br>
    <br>
    <div class="row">
      <% @peer_allies.each do |ally| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <br>
          
            <img class = "img-circle">
              <%= image_tag(ally.avatar.url(:thumb)) %>
            </img>
          <div class="caption">
            <!-- Make font bigger. -->
            <h2><%= ally.name %></h2>
            <p style = "font-size: 15px;">
              Bio: <%= ally.bio %>
              <br>
              Grade: <%= ally.grade %>
            </p>
            <%= link_to 'View Profile', peer_ally_path(ally), html_options = {:class => "btn btn-primary"} %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <br>
<br>
<br>

