= stylesheet_link_tag "form"
- if @peer_ally.errors.any?
  #error_explanation
    %h2
      = pluralize(@peer_ally.errors.count, "error")
      prohibited this post from being saved:

  - @peer_ally.errors.full_messages.each do |msg|
    %li= msg

%h1 Create Your Peer Ally Profile

= form_tag('/peer_allies', :multipart => true) do 
  
  = label :peer_ally, :name, 'Name', :id => "name"
  = text_field :peer_ally, :name, :id => "name"

  = label :peer_ally, :bio, 'Biography'
  = text_area :peer_ally, :bio

  = label :peer_ally, :grade, 'Grade'
  // = grades_array = ['Freshman', 'Sophmore']
  =select :peer_ally, :grade, options_for_select(['Freshman', 'Sophmore','Junior', 'Senior']), include_blank: true                                                 |

  = label :peer_ally, :avatar, 'Avatar Photo'
  = file_field :peer_ally, :avatar

  = submit_tag 'Save Changes', :id => "submit"