<body>
  <div class="container">
    <div class="media">
      <a class="pull-left" href="ally">
        <img class="img-circle" src="<%= @peer_ally.avatar.url(:thumb) %>" style="width: 140px"/>
      <!--/ %img.media-object.img-circle{:alt => "Name",:src => @peer_ally.avatar.url(:thumb) , :style => "width: 200px"}
        -->
      </a>
      <div class="media-body">
        <br>
        <br>
        <h1 class="media-heading" style="font-size: 60px">
          <%= @peer_ally.name %>
        </h1>
        <hr style = "display:block; margin-top: 2em; margin-bottom: 2em; margin-left: auto; margin-right: auto; border-style: inset; border-width:1px;">
        <h2>About Me</h2>
        <p>
          <%= @peer_ally.bio %>
        </p>
        <br>
        <h2>Grade</h2>
        <p>
          <%= @peer_ally.grade %>   
        </p>
        <br>
        <br>
      </div>
    </div>
    <%= link_to 'Edit', edit_peer_ally_path(@peer_ally), html_options = {:class => "btn btn-primary"} %>
    <br>
    <br>
    <%= button_to 'Delete', peer_ally_path(@peer_ally), :method => :delete, :confirm => 'Are you sure?' %>
    <br>
    <%= link_to 'Back to the list of Peer Allies', ally_list_path, html_options = {:class => "btn btn-primary"} %>
  </div>
</body>